.footer {
  background-color: var(--neutral-700);
  min-height: 72px;
}

.footer-content {
  max-width: var(--content-width);
  margin: 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  font-size: var(--text-xl);
  letter-spacing: var(--tracking-tighter);
  line-height: var(--leading-none);
}

.copyright {
  font-size: var(--text-sm);
  letter-spacing: var(--tracking-tighter);
  line-height: var(--leading-none);
  color: var(--neutral-400);
}
